<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/media/css/bootstrap.css">
		<script src="/media/js/jquery.js"></script>
		<style type="text/css">
		form{
			font-size: 20px;
		}
		</style>
		<script type="text/javascript">
		$(document).ready(function(){
			// alert({{username}});
			var baseurl =location.href;
			var currenturl = (baseurl.split('//')[1]).split('/')[1];
			if(currenturl == null || currenturl=="")
			{
				$('.homepage').addClass( "active" );
			}
			else
			{
				$('.'+currenturl).addClass( "active" );
			}
		})
		</script>
	</head>
	<body>
		<nav class="navbar navbar-default">
		  <div class="container">
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      <ul class="nav  nav-pills" style="font-size:20px;">
		        <li class="homepage"><a href="/">homepage<span class="sr-only">(current)</span></a></li>
		        <li class="list"><a href="/list">list</a></li>
		        <li class="create"><a href="/create">create</a></li>
		        {% if username == "" or username == null %}
		        <li class="login"><a href="/login">login</a></li>
		        <li class="register"><a href="/register">register</a></li>
		        {% else %}
		        <li><a href="/logout">logout</a></li>
		        {% endif %}
		      </ul>
		    </div>
		  </div>
		</nav>




